# INTENTIONAL ERROR FOR SUPPORT - IF YOU SEE 404 INSTEAD OF 500, IT MEANS THIS FILE IS IGNORED
THIS_IS_A_SYNTAX_ERROR_TO_PROVE_IGNORED_FILE

# Failsafe for LiteSpeed/Apache virtual routes
ErrorDocument 404 /index.php

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Exclude API folder
    RewriteCond %{REQUEST_URI} ^/api [NC]
    RewriteRule ^ - [L]

    # Send all other requests to index.php if file/folder doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
